@import 'components/mixins.scss';
// @import 'components/kit/vendors/antd/css/buttons.scss';

.ant-btn.ant-btn-icon-only {
    // margin-right: 1px !important;

    height: 100% !important;
    width: 37px !important;
    background: $gray-4;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 35px !important;
}
