@import 'components/mixins.scss';

.ant-select {
    top: -9px !important;
    height: 100% !important;
    width: 200px !important;

    .ant-select-selector {
        height: 37px !important;
        width: 100% !important;
        border-radius: none !important;
    }
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 37px !important;
}
