@import 'components/kit/vendors/antd/css/tabs.scss';
@import 'components/mixins.scss';

.ant-tabs-nav .ant-tabs-tab {
    margin: 0 !important;
    padding: 8px !important;
    border-bottom: 2px solid $gray-4 !important;
}

.ant-tabs-left .ant-tabs-nav {
    min-width: 38px !important;
    border-right: 2px solid $gray-4 !important;
}

.ant-tabs {
    line-height: 1 !important;
}

.ant-tabs-tab-btn {
    font-size: 20px !important;
}

.ant-tabs-tab,
.ant-tabs-nav-more,
.ant-tabs-nav-operations {
    min-height: 38px !important;
    max-height: 38px !important;
    min-width: 44px !important;
    max-width: 44px !important;
}

.ant-tabs-nav-operations {
    border-top: 2px solid $gray-4 !important;
}
